@import "./style.scss";
@import "./element.scss";
@import "http://at.alicdn.com/t/font_2650976_rwjfn31feor.css";
@import "http://at.alicdn.com/t/font_2562897_v6iesvrbu18.css";


body,
dl,
dd,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
input,
textarea,
p,
hr,
thead,
tbody,
tfoot,
th,
td {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
html {
  height: 100%;
  text-size-adjust: none;
}
body {
  height: 100%;
  font-size: 16px;
  color: $FColor;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
* {
  box-sizing: border-box;
}
body,
button,
input,
select,
textarea {
  font-family: "PingFang SC", "microsoft yahei";
}
.bold,
b,
strong {
  font-weight: bold;
}
i,
em {
  font-style: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: none;
  display: block;
}

button,
input,
textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
button {
  padding: 0;
}
button {
  background: transparent;
}
input {
  border: none;
  background: transparent;
}
/*链接*/
a {
  text-decoration: none;
  outline: none;
  background: transparent;
}
a:link,
a:visited,
a:active,
a:focus,
a.active {
  outline: none;
  text-decoration: none;
}
a.line {
  text-decoration: underline;
}

/*文本换行*/

/*不截断单词换行*/
.word-break {
  display: block;
  word-break: break-all;
}

/*截断单词换行*/
.word-wrap {
  display: block;
  word-wrap: break-word;
}

/*省略号*/
.ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
} /*单行省略*/
.ellipsis-2 {
  display: -webkit-box;
  overflow: hidden;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
} /*多行省略*/

.click {
  cursor: pointer;
}
.link {
  cursor: pointer;
  color: $CColor;
}

.tc {
  text-align: center;
}

/*浮动*/
.fl {
  float: left;
}
.fr {
  float: right;
}

/*清除浮动*/
.clear:after {
  content: "";
  display: block;
  clear: both;
}

/*隐藏*/
.hide {
  display: none !important;
} /*不占位隐藏*/
.hidden {
  visibility: hidden;
} /*占位隐藏*/
.indent {
  text-indent: -9999px;
} /*缩进隐藏*/
.overhide {
  overflow: hidden;
} /*超出隐藏*/
.overauto {
  overflow: auto;
}

/*文本对齐*/
.tx-lf {
  text-align: left;
}
.tx-rt {
  text-align: right;
}
.tx-ct {
  text-align: center;
}
.tx-justify {
  text-align: justify;
}
.tx-nowrap {
  white-space: nowrap;
}
.tx-lowercase {
  text-transform: lowercase;
}
.tx-uppercase {
  text-transform: uppercase;
}
.tx-capitalize {
  text-transform: capitalize;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed !important;
}

.underline {
  text-decoration: underline;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.w1300 {
  max-width: 1300px;
  //min-width: 375px;
  margin: 0 auto;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pd_40_rd_20 {
  padding: 40px;
  border-radius: 20px;
  background-color: #fff;
}

.confirm-wrap {
  .el-button {
    width: 100%;
  }
}

.el-input.no-border {
  .el-input__inner {
    border: none;
    padding-left: 0;
    .el-input-group__append {
      background-color: transparent;
      border: none;
    }
  }
}

.wrong-net {
  color: red;
}


// 纵向滚动条和横向滚动条宽度
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

// 滚动条轨道样式
::-webkit-scrollbar-track {

  background-color: transparent;
  outline: none;
}

// 滚动条滑块样式
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  //-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
  background: transparent;
}

:hover::-webkit-scrollbar-thumb,body::-webkit-scrollbar-thumb {
  background: #d8d8d8
}
