@import "./style.scss";
#app {
  .el-overlay .el-dialog {
    border-radius: 20px;
    background: $BgColor;
    //box-shadow: 0px 2px 0px 0px #E9EAF4;
    .el-dialog__header, .el-dialog__body {
      padding-left: 40px;
      padding-right: 40px;
    }
    .el-dialog__header {
      padding-top: 30px;
    }
    .el-dialog__body {
      padding-top: 10px;
      color: $txColor;
    }
    .el-dialog__title {
      font-size: 24px;
      color: $txColor;
    }
    .el-dialog__close {
      font-size: 16px;
      color: $txColor;
    }
  }
  .el-input {
    input {
      background: $navBorder;
      color: $labelColor;
      border: 0;
    }
    ::-webkit-input-placeholder {
      color: $labelColor;
    }
  }
  .el-checkbox__inner {
    //background: $navBorder;
    background: #232349;
    border: 1px solid #333364;
    border-radius: 4px;
  }
  
  .el-button {
    
    &.el-button--primary {
      border-radius: 10px;
      background-color: $btnColor;
      border-color: $btnColor;
      &:hover {
        opacity: 0.7;
      }
      &.is-disabled {
        opacity: 0.2;
        //background-color: #a0cfff;
        //border-color: #a0cfff;
        //&:hover {
        //  opacity: 1;
        //}
      }
    }
    &.el-button--default {
      background: #2A2A56;
      border-radius: 10px;
      border: 0;
      //border-color: $CColor;
      color: $txColor;
      &:hover {
        opacity: 0.7;
      }
    }
    span {
      font-size: 16px;
      color: $txColor;
    }
  }
  
  .el-tabs {
    .el-tabs__nav-wrap::after {
      width: 0
    }
    .el-tabs__item {
      color: $labelColor;
      font-size: 18px;
      &.is-active,&:hover {
        color: $txColor;
      }
  
    }
    .el-tabs__active-bar {
      background-color: $txColor;;
    }
  }
  
  
  .el-table::before {
    height: 0;
  }
  .el-table{
    border-radius: 10px 0 0 10px;
    background: $BgColor;
    th {
      background-color: #2A2A56;
      color: #fff;
      font-weight: 400;
      &:first-child {
        border-radius: 10px 0 0 10px;
      }
      &:last-child {
        border-radius: 0 10px 10px 0;
      }
      .cell {
        line-height: 35px;
      }
    }
    tr {
      background-color: transparent;
      .cell {
        color: $labelColor;
      }
      th .cell {
        color: $txColor;
      }
    }
    td.el-table__cell, th.el-table__cell.is-leaf {
      border: 0;
    }

  }
  .el-table--enable-row-hover .el-table__body tr:hover>td.el-table__cell {
    //opacity: 0.65;
    background: $BgColor;
  }

  .el-pagination {
    background: $BgColor;
    button:disabled {
      background: $BgColor;
    }
    .btn-prev, .btn-next {
      background: $BgColor;
      color: $txColor;
    }
    .el-pager li {
      color: $txColor;
      background: $BgColor;
      &.active {
        color: $linkColor;
      }
    }
  }

  .el-empty {
    padding: 0;
  }
  .el-icon-arrow-right {
    &.expand {
      transform: rotate(90deg);
    }
    transition: transform 0.1s ease;
  }
  @media screen and (max-width: 1200px) {
    .el-table{
      th {
        padding: 6px 0;
        &:first-child {
          border-radius: 10px 0 0 10px;
        }
        &:last-child {
          border-radius: 0 10px 10px 0;
        }
        .cell {
          //color: #fff;
          line-height: 35px;
        }
      }
    }
    .el-dialog {
      width: 100% !important;
      max-width: 470px !important;
      min-width: 280px !important;
    }
  }
  @media screen and (max-width: 500px) {
    .el-overlay {
      padding: 20px 16px;
    }
    .el-overlay .el-dialog {
      .el-dialog__header, .el-dialog__body {
        padding-left: 16px;
        padding-right: 16px;
      }
      .el-dialog__header {
        padding-top: 16px;
        padding-bottom: 0;
      }
      .el-dialog__body {
        padding-top: 16px;
      }
      .el-dialog__title {
        font-size: 20px;
      }
    }

  }

}
@media screen and (max-width: 500px) {
  .el-message {
    width: 90% !important;
    min-width: auto!important;
  }
}

.el-select__popper {
  background: $navBorder !important;
  border: 0!important;
  .el-select-dropdown__item {
    color: $labelColor;
    &:hover, &.selected {
      background: $navBorder !important;
      opacity: 0.65;
    }
  }
}
.el-picker__popper {
  .el-picker-panel {
    background: $navBorder !important;
  }
  .el-date-picker__time-header {
    border-bottom: 1px solid #20204A;
    .el-input {

      input{
        background: $navBorder !important;
        border: 0;
        color: $labelColor;
      }
    }
  }
  .el-date-picker__header-label {
    color: $labelColor;
  }
  .el-date-table {
    th {
      color: $labelColor;
      border-bottom: 1px solid #20204A;
    }
    td {
      div {
        background:  $navBorder;
      }
      &.disabled div {
        opacity: 0.4;
      }
    }
  }
  .el-time-panel {
    //background: $navBorder;
    //border: 0;
  }
  .el-picker-panel__footer {
    border-top: 1px solid #20204A;
    background:  $navBorder;
    .el-button.is-plain {
      background: $btnColor;
      color: $labelColor;
      border: 0;
    }
  }
  .el-popper__arrow:before{
    border-color: $navBorder!important;
    background: $navBorder!important;
  }
  .el-picker-panel__icon-btn {
    color: $labelColor;
  }
  .el-time-panel {
    background: $BgColor;
    border: 0;
    .el-time-spinner__item {
      color: $labelColor;
      &:hover {
        opacity: 0.65;
        background: $BgColor;
      }
    }
    .el-time-spinner__item.active:not(.disabled) {
      color: $txColor;
      &:hover {
        opacity: 1;
      }
    }
  }
  .el-time-panel__content:after, .el-time-panel__content:before {
    border-color: #20204a;
  }
  .el-time-panel__footer {
    border-color: #20204a;
    .cancel {
      color: $txColor;
    }
  }
}




