@import "./style.scss";
#app {
  .el-overlay .el-dialog {
    border-radius: 20px;
    box-shadow: 0px 2px 0px 0px #E9EAF4;
    .el-dialog__header, .el-dialog__body {
      padding-left: 40px;
      padding-right: 40px;
    }
    .el-dialog__header {
      padding-top: 30px;
    }
    .el-dialog__body {
      padding-top: 20px;
    }
    .el-dialog__title {
      font-size: 24px;
      color: $FColor;
    }
    .el-dialog__close {
      font-size: 16px;
      color: $FColor;
    }
  }
  
  .el-button {
    
    &.el-button--primary {
      border-radius: 10px;
      background-color: $CColor;
      border-color: $CColor;
      &:hover {
        opacity: 0.7;
      }
      &.is-disabled {
        background-color: #a0cfff;
        border-color: #a0cfff;
        &:hover {
          opacity: 1;
        }
      }
    }
    &.el-button--default {
      border-radius: 10px;
      border-color: $CColor;
      color: $CColor;
    }
    span {
      font-size: 16px;
    }
  }
  
  .el-tabs {
    .el-tabs__nav-wrap::after {
      width: 0
    }
    .el-tabs__item {
      color: #FAFAFA;
      font-size: 18px;
      &.is-active,&:hover {
        color: #FAFAFA;
      }
  
    }
    .el-tabs__active-bar {
      background-color: #FAFAFA;
    }
  }
  
  
  .el-table::before {
    height: 0;
  }
  .el-table{
    th {
      background-color: #4a5ef2;
      color: #fff;
      &:first-child {
        border-radius: 10px 0 0 10px;
      }
      &:last-child {
        border-radius: 0 10px 10px 0;
      }
      .cell {
        color: #fff;
        line-height: 35px;
      }
    }
  }
  .el-empty {
    padding: 0;
  }
  .el-icon-arrow-right {
    &.expand {
      transform: rotate(90deg);
    }
    transition: transform 0.1s ease;
  }
  @media screen and (max-width: 1200px) {
    .el-table{
      th {
        padding: 6px 0;
        &:first-child {
          border-radius: 10px 0 0 10px;
        }
        &:last-child {
          border-radius: 0 10px 10px 0;
        }
        .cell {
          color: #fff;
          line-height: 35px;
        }
      }
    }
    .el-dialog {
      width: 100% !important;
      max-width: 470px !important;
      min-width: 280px !important;
    }
  }
  @media screen and (max-width: 500px) {
    .el-overlay {
      padding: 20px;
    }
    .el-overlay .el-dialog {
      .el-dialog__header, .el-dialog__body {
        padding-left: 16px;
        padding-right: 16px;
      }
      .el-dialog__header {
        padding-top: 16px;
        padding-bottom: 0;
      }
      .el-dialog__body {
        padding-top: 16px;
      }
      .el-dialog__title {
        font-size: 20px;
      }
    }

  }

}
@media screen and (max-width: 500px) {
  .el-message {
    width: 90% !important;
    min-width: auto!important;
  }
}




