// 默认文字颜色
$FColor: #3A3C44;
// 可点击文字颜色
$CColor: #4A5EF2;

$coverColor: #000;

$BgColor: #181837;

$txColor: #FFFFFF;

$labelColor: #75759F;

$linkColor: #1678FF;

$formItemColor: #121227;

$btnColor: #004884;

$navBorder: #121227;

$borderColor: #24244C;

$txColor2: #A0A0A0;

$detailBar: #242449;
